html {
    color: gray;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-style: normal;    
    font-size: 15pt;
}

body {
    margin: 10%;
}

article {
    margin: 6rem 0;
}

section {
    margin: 2.5em 0;
}

h1 {
    color: black;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    text-indent: -1rem;
}

p {
    font-size: 13pt;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

cite {
    text-align: right;
    display: block;
}

code {
    color: steelblue;
}


dfn {
    font-weight: bold;
    text-transform: lowercase;
}

sup {
    font-size: 60%;
}

small {
    font-style: italic;
}

aside {
    text-align: center;
}

.fa-solid {
    color: chartreuse;
    font-size: 1em;
}