body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    gap: 50px;
}

.buttoncontainer {
    border: 2px solid black;
    padding: 10px;

}

.button {
    position: relative;
    font-size: 18px;
    color: rgb(181, 72, 33);
    background: white;
    cursor: pointer;
    transition: color 0.4s;
    text-decoration: none;
    display: inline-block;
    z-index: 1;
    letter-spacing: 0.1em;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(181, 72, 33);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-in-out;
    z-index: -1;
    border-radius: inherit;
}

.button:hover::before {
    transform: scaleX(1);
}

.button:hover {
    color: white;
}

.button2 {
    background-image: url('cnlogo.png');
    background-size: cover;
    cursor: pointer;
    width: 100px;
    height: 100px;
    transition: background-image 2s ease-in-out;
}

.button2:hover {
    background-image: url('cnlogo2.png');
}

.button3 {
    background-image: url('armylogo.jpg');
    background-size: cover;
    cursor: pointer;
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease, filter 0.3s ease;
}

.button3:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
    filter: brightness(0.9);
}

.button4 {
    background-image: url('fb.png');
    background-size: cover;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;

    &:hover {
            transform: scale(1.1);
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
            filter: brightness(1.1);
    }
}

.button5 {
    background-image: url('cocab.jpg');
    background-size: cover;
    cursor: pointer;
    width: 100px;
    height: 100px;
    transition: background-image 0.3s ease-in-out;
}

.button5:hover {
    background-image: url('cocar.jpg');
}