header {
    font-style: 'bold-italic';
    font-size-adjust: inherit;
    font-size: 24px;

}

h1, h4, h2 {
        font-family: 'Arvo', bold;
        font-size: 14px;
    }

.deitalicize {
    font-style: normal;
}

li {
    font-style: italic;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-wrap: inherit;
    font-size: 10px;
}