.static-example .positioned-element {
    background-color:green;
    left: 100px;
}

.relative-example .positioned-element {
    background-color:lightblue;
    left: 100px;
    top: 50px;
    z-index: -1;
}

.absolute-example .positioned-element{
   position: absolute;
   right: 0;
   top: 0;
    background-color: red;
}


.absolute-example {
    position: relative;

}

.fixed-example .positioned-element {
    position: fixed;
    top:0;
    left:0;
    background-color: purple;
    width:100%;
    z-index: 9999;
}

.sticky-example .positioned-element {
    position: sticky;
    top:50;
    background-color: orange;
}